[submodule "zephyr-chipyard-sw"]
	path = zephyr-chipyard-sw
	url = https://github.com/copparihollmann/zephyr-chipyard-sw.git
[submodule "sims/IsaacLab"]
	path = sims/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "hw/chipyard"]
	path = hw/chipyard
	url = git@github.com:ucb-bar/chipyard.git
[submodule "ModelBlaster"]
	path = ModelBlaster
	url = https://github.com/ucb-bar/ModelBlaster.git
