[submodule "merlin"]
	path = merlin
	url = https://github.com/ucb-bar/merlin.git
[submodule "zephyr-chipyard-sw"]
	path = zephyr-chipyard-sw
	url = https://github.com/ucb-bar/zephyr-chipyard-sw.git
[submodule "sims/IsaacLab"]
	path = sims/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
